<%- include('layout/header') %>
    <div class="container border-b-2 h-16">
        <div class="my-4 ml-4">
            <a href="/new_histori" class="p-2 bg-red-400 text-white rounded-sm mr-2"><i class="fi fi-rr-plus"></i>
                tambah data</a>
            <a href="#" class="p-2 bg-blue-400 text-white rounded-sm"><i class="fi fi-rr-print"></i>
                Cetak</a>
        </div>
    </div>
    <div class="overflow-x-auto mx-4 py-2 relative">
        <table class="table w-full my-table" id="tableHistori">

        </table>
    </div>
    <a href="#" class="ml-4 text-blue-600"><i class="fi fi-rr-download"></i> Download</a>
    <%- include('layout/footer') %>