</div>
</div>
<!-- <footer class="ml-0 text-center py-2 bg-white lg:ml-60 mt-6">
    @copyright &copy2023 all rights reserved
</footer> -->


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
<script src="js/function.js"></script>
<script src="js/dom.js"></script>
</body>

</html>