<%- include('../layout/header') %>
    <div class="container border-b-2 h-16">
        <div class="my-4 ml-4">
            <a href="/karyawan" class="p-2 bg-red-400 text-white rounded-sm mr-2"><i
                    class="fi fi-rr-angle-double-small-left text-xs"></i>
                kembali</a>
        </div>
    </div>
    <div class="w-2/3 mx-auto mb-40 mt-4">
        <h2 class="text-center text-xl font-bold">Data Pegawai</h2>
        <form action="/create_karyawan" method="post" class="mx-auto mt-2 relative">
            <div
                class="flex flex-wrap justify-around items-center border-l-4 border-red-400 rounded-sm bg-white p-4 mt-4">
                <div class="form-group mx-2">
                    <p>ID</p>
                    <input type="text" name="id" class="input-bordered h-8 pl-2 bg-slate-200 mb-2">
                </div>
                <div class="form-group mx-2">
                    <p>Nama</p>
                    <input type="text" name="nama" class="input-bordered h-8 pl-2 bg-slate-200">
                </div>
                <div class="form-group mx-2">
                    <p>Pekerjaan</p>
                    <input type="text" name="pekerjaan" class="input-bordered h-8 pl-2 bg-slate-200">
                </div>
                <div class="form-group mx-2">
                    <p>Alamat</p>
                    <input type="text" name="alamat" class="input-bordered h-8 pl-2 bg-slate-200 mb-2">
                </div>
                <div class="form-group mx-2">
                    <p>Telepon</p>
                    <input type="text" name="telepon" class="input-bordered h-8 pl-2 bg-slate-200">
                </div>
            </div>
            <!-- <a href="#" class="p-2 bg-blue-400 text-white rounded-sm absolute right-0 mt-2"><i
                    class="fi fi-rr-plus"></i>
                tambah data</a> -->
            <input type="submit" name="submit"
                class="bg-blue-400 text-white rounded-sm px-4 py-2 cursor-pointer absolute right-0 mt-2">
        </form>
    </div>
    <%- include('../layout/footer') %>